{% extends "_template.html.twig" %}

{% block title %}
    Accueil
{% endblock %}

{% block content %}
    <div class="section">
        {# inclusion de fichier & passage de variables #}
        {% include "includes/product_list.html.twig" with {annonces:list_annonce} %}
    </div>
{% endblock %}
