{% extends "_template.html.twig" %}

{% block title %}
    Accueil
{% endblock %}

{% block content %}
    <div class="section">
        <h1 class="title">Les nouveaux annonces</h1>
        {# inclusion de fichier & passage de variables #}
        {% include "includes/annonce_list.html.twig" with {annonces:list_annonce} %}
    </div>
{% endblock %}
