{{ form_start(categoryForm) }}
    {{ form_row(categoryForm.nom,{
        label : 'Catégorie du produit'
    }) }}
    <button type="submit" class="button is-success is-fullwidth">
        Enregistrer
    </button>
{{ form_end(categoryForm) }}